*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    background-color:rgb(27, 18, 13) ;
    color: rgb(229,229,203);
    text-shadow: .1em .1em 0 hsl(210, 3%, 11%);
}

.navbar {
    background-color: rgba(60, 42, 32, 1);
    position: relative;
    max-width: 100%;
    min-width: 400px;
    height: 111px;
    margin-top: 3rem;
    border-radius: 50px;
    box-shadow: 3px 6px 28.9px 0px #000;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 2rem;
}

.navbar-list {
    display: flex;
    list-style: none;
    gap: 20px; 
}

.navbar-link {
    text-decoration: none;
    color: rgba(229, 229, 203);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
  width: calc(33.33% - 20px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(20% - 40px); 
    max-width: 500px; 
    min-width: 300px;
    height: 600px;
    border: 1px solid rgb(229, 229, 203);
    border-radius: 15px;
    background-color: rgba(60, 42, 32, 1);
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
    
 
}

.card img {
    object-fit:cover; 
    width: 100%;
    height: 100%;
}

.card a{
    display: flex;
    text-decoration: none;
    color: bisque;
    text-align: center;

}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items:end;
    width: 100%;
    
}

.pie {
    border-radius: 0%;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-color: #ffffff6d;
}


.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(229, 229, 203);
  border-radius: 5px;
  background-color: rgba(60, 42, 32, 1);
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.container form{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.container form {
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
}


label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: rgba(60, 42, 32, 1);
    color: rgba(229, 229, 203);
    border: 1px solid rgba(229, 229, 203);
    border-radius:20%;
    cursor: pointer;
    
}

button:hover {
    background-color: rgba(27, 18, 13);
}

.filtrado {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#genero{
    margin: 10px;
    text-decoration: none;
    background-color: rgba(60, 42, 32, 1);
    color: rgba(229, 229, 203);
    border-radius: 15px;
    border-color: rgba(229, 229, 203);
    max-width: 100px; 
    min-width: 100px;

}

#actores{

    margin: 10px;
    text-decoration: none;
    background-color: rgba(60, 42, 32, 1);
    color: rgba(229, 229, 203);
    border-radius: 15px;
    border-color: rgba(229, 229, 203);
    max-width: 100px; 
    min-width: 100px;

    
}

#salida{

    margin: 10px;
    text-decoration: none;
    background-color: rgba(60, 42, 32, 1);
    color: rgba(229, 229, 203);
    border-radius: 15px;
    border-color: rgba(229, 229, 203);
    max-width: 100px; 
    min-width: 100px;

}

#buscador{
    
    margin: 10px;
    background-color: rgba(60, 42, 32, 1);
    color: rgba(229, 229, 203);
    border-radius: 15px;
    border-color: rgba(229, 229, 203);
    max-width: 200px; 
    min-width: 100px;

}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.contenedor-btn-paginacion{
    display: flex;
    justify-content: center;
    margin: 2%;
}


.buscador-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 100%;
    min-width: 200px;

}

.toast {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:  rgba(60, 42, 32, 1);
  color:rgba(229, 229, 203);
  padding: 10px;
  border-radius: 5px;
  display: block;
  z-index: 1000;
  transition: opacity 0.5s ease;
  border: 5px solid rgba(229, 229, 203);
}

.toast p {
  margin: 0;
}

.toast.hidden {
  opacity: 0;
  display: none;
}

.new-toast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 29, 28, 0.686);
    z-index: 1;

  }
  
  .new-toast {
    background-color: rgba(60, 42, 32, 1);
    border: 5px solid rgba(229, 229, 203);
    border-radius: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    width: 100%;
  }
  
  .new-toast img {
    display: flex;
    object-fit:fill; 
    justify-content: center;
    flex-direction: column;
    width: 40%; 
    height: 300px;
    border: 2px solid rgb(229, 229, 203);
    border-radius: 15px;
    background-color: rgba(60, 42, 32, 1);
    padding: 2px;
    margin: 20px;  
    overflow: hidden;
  }
  
  .new-toast-content {
    flex: 1;
    text-align: center;
    
  }
  
  .new-toast-buttons {
    margin-top: 15px;
  }
  
  .new-toast-buttons button {
    margin: 0 10px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .new-toast-buttons button.favorite {
    color: rgb(224, 254, 91);
  }

  .aviso-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .aviso-container p {
    margin: 0;
  }
  
  .aviso-container input {
    margin-left: 5px;
  }

  .centrado-load{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  